@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

#index-page{
  #blog-header{
      text-align: center;
      text-transform: capitalize;
      font-size: 3rem;
  }
  .blogsContainer{
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      margin-top: -10px;
  }
  .blogPost{
      width: 33.33%;
      text-align: center;
      padding: 0 15px;
      margin: 10px 0;
  }
  .blogPost > div{
      background-color: skyblue;
      padding: 10px 10px;
      border-radius: 10px;
      box-shadow: 1px 1px 4px rgba(0,0,0,0.3);
      height:500px;
  }
  .blogTitle{
      color: #000;
      font-weight: bold;
      text-transform: capitalize;
      font-size: 2rem;
  }
  .date{
      text-align: start;
  }
  img{
      height: 230px;
      width: 100%;
      object-fit: cover;
  }
  @media (max-width: 1199px){
      .blogPost{
          width: 50%;
      }
  }
  @media (max-width: 782px){
      .blogPost{
          width: 100%;
      }
  }
}

#blog-post-container{
  background-color: skyblue;
  .header{
      text-transform: capitalize;
  }
  img:nth-child(1){
      height: auto;
      max-width: 50%;
      min-width: 250px;
      margin: 0 auto;
      display: block;
  }
  hr{
      border-top: none;
  }
}

.container{
  margin: 20px auto;
  width: 100%;
  max-width: 1200px;
  padding: 0 20px;
}