/* Responsive styles for images */
.reactmarkdown {
    background-color: #fefefe;
}
.reactmarkdown h1{
    background-color: aqua;
    text-align: center;
}

.reactmarkdown img{
    height: 40vh;
    width: 80%;
    /* object-fit: cover; */
    display: block; /* Remove extra spacing below images */
    margin: 0 auto; /* Center-align images */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
    border-radius: 8px; /* Add rounded corners */
  }
  
  /* Adjust image size on smaller screens */
  @media screen and (max-width: 768px) {
    .reactmarkdown img {
      max-width: 80%;
      height: 30vh;
    }
  }